<h3>Dashboard Works</h3>
<h3>Welcome to the Angular Aplication</h3>
<div class="container">
    <div class="row">
        <div class="col-12">
            <a [routerLink]="[]">Dashboard</a> &nbsp;&nbsp; | &nbsp; &nbsp;
            <a [routerLink]="['/employee']">Employee</a> &nbsp;&nbsp; | &nbsp; &nbsp;
            <a [routerLink]="['/department']">Department</a>
        </div>
    </div>
    <br>
    
    <div class="row" style="min-height: 600px;">
        <div class="col-12">
            <router-outlet></router-outlet>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            Designed By : Snad developers
        </div>
    </div>
</div>
