<div class="container">
  <div class="row">
      <div class="col-12">
          <a [routerLink]="['/']">Home</a> &nbsp;&nbsp; | &nbsp; &nbsp;
          <a [routerLink]="['/about']">About</a> &nbsp;&nbsp; | &nbsp; &nbsp;
          <a [routerLink]="['/services']">Services</a>&nbsp;&nbsp; | &nbsp; &nbsp;
          <a [routerLink]="['/contactus']">Contact us</a>&nbsp;&nbsp; | &nbsp; &nbsp;
      </div>
  </div>
  <br>
  <div class="row" style="min-height: 500px;">
      <div class="col-12">
          <router-outlet></router-outlet>
      </div>
  </div>
  <br>
  <div class="row">
      <div class="col-12">
          Designed By : SNAD Developers
      </div>
  </div>
</div>