@model MVCapp1.ViewModels.DeptEmp

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Employee Details</h1>
        <h4>Employee Id: @Model.Employee.EmpId</h4>
        <h4>Employee Name:@Model.Employee.EmpName</h4>
        <h4>Employee Salary:@Model.Employee.EmpSalary</h4>
        <br />
        <br />
        <h1>Department Details</h1>
        <h4>Department Id: @Model.Department.DeptId</h4>
        <h4>Department Name:@Model.Department.DeptName </h4>
        <h4>Department Lccation:@Model.Department.DeptLoaction</h4>
</div>
</body>
</html>
