<div class="container">
  <br><br>

  <div class="col-xs-10 col-sm-10 col-md-6 col-lg-6">
    <div class="text-center">
      <h2>Login</h2>
    </div>
    <form name="loginForm" #loginForm="ngForm" (ngSubmit)="loginForm.valid && login(loginForm)">
      <!-- Email input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example1">Email address</label>
        <input type="email" id="form2Example1" name="userName" #userName="ngModel" [(ngModel)]="loginObj.userName"
          class="form-control" required />
        <small *ngIf="(userName.touched && userName.invalid) || (userName.invalid && loginForm.submitted)">User Name is
          mandatory</small>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example2">Password</label>
        <input type="password" id="form2Example2" name="password" #password="ngModel" [(ngModel)]="loginObj.password"
          class="form-control" required />
        <small *ngIf="(password.touched && password.invalid) || (password.invalid && loginForm.submitted)">Password is
          mandatory</small>
      </div>

    


      <!-- Submit button -->
      <div class="text-center">
        <button type="submit" class="btn btn-primary btn-block mb-4 ">Sign in</button>

      </div>

      <!-- Register buttons -->
      <div class="text-center">
        <p>Not a member? <a [routerLink]="['/signup']">Register</a></p>

      </div>
    </form>

  </div>

</div>