<!DOCTYPE html>

<div class="col-xs-10 col-sm-10 col-md-6 col-lg-6">
  <form name="signup" #signup="ngForm" (ngSubmit)="signup.valid && register(signup)">
    <div class="text-center mb-3">
      <h2>Register</h2>
    </div>

    <!-- Username input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="registerUsername">User Name</label>
      <input type="text" id="registerUsername" name="userName" #userName="ngModel" class="form-control"
        [(ngModel)]="registerUser.userName" required />
      <small *ngIf="(userName.touched && userName.invalid) || (userName.invalid && signup.submitted)">User Name is
        mandatory</small>
    </div>

    <!-- Email input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="registerEmail">Email</label>
      <input type="email" id="registerEmail" name="email" #email="ngModel" class="form-control"
        [(ngModel)]="registerUser.email" required />
      <small *ngIf="(email.touched && email.invalid) || (email.invalid && signup.submitted)">Email is
        mandatory</small>
    </div>

    <!-- Mobile input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="registerName">Mobile Number</label>
      <input type="text" id="registerName" name="phoneNumber" #phoneNumber="ngModel" class="form-control"
        [(ngModel)]="registerUser.phoneNumber" required />
      <small *ngIf="(phoneNumber.touched && phoneNumber.invalid) || (phoneNumber.invalid && signup.submitted)">Mobile
        Number is
        mandatory</small>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="registerPassword">Password</label>
      <input type="password" id="registerPassword" name="password" #password="ngModel" class="form-control"
        [(ngModel)]="registerUser.password" required />
      <small *ngIf="(password.touched && password.invalid) || (password.invalid && signup.submitted)">Password is
        mandatory</small>
    </div>



    <!-- Repeat Password input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="registerRepeatPassword">Repeat password</label>
      <input type="password" id="registerRepeatPassword" name="confirmPassword" class="form-control"
        #cPassword="ngModel" [(ngModel)]="confirmPassword" required />
      <small *ngIf="(cPassword.touched && cPassword.invalid) || (cPassword.invalid && signup.submitted)">Confirm
        Password is mandatory</small>
    </div>

    <!-- Checkbox -->
    <!-- <div class="form-check d-flex justify-content-center mb-4">
      <input class="form-check-input me-2" type="checkbox" value="" id="registerCheck" checked
        aria-describedby="registerCheckHelpText" />
      <label class="form-check-label" for="registerCheck">
        I have read and agree to the terms
      </label>
    </div> -->

    <!-- Submit button -->
    <div class="text-center">
      <button type="submit" class="btn btn-primary btn-block mb-3">Sign Up</button>
    </div>
    <div class="text-center">
      Existing User? <a [routerLink]="['/']">Login</a> Here
    </div>
  </form>
</div>