@model IEnumerable<MVCapp1.Models.Employee>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayEmployees</title>
</head>
<body>
    <div> 
        <table border="1" cellpadding="=10"cellspacing="0">
            <tr>
                <th>Emp.Id</th>
                <th>Emp.Name</th>
                <th>Emp.Salary</th>
            </tr>
            @foreach(var emp in Model)
            {
                <tr>
                    <td>@emp.EmpId</td>
                    <td>@emp.EmpName</td>
                    <td>@emp.EmpSalary</td>
               </tr>
            }
        </table>
    </div>
</body>
</html>
