@model MVCapp1.Models.Employee

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EnterData</title>
</head>
<body>
    <div> 
        <form action="DispEmp" method="post">

            <table border="1" cellpadding="10" cellspacing="0">
                <tr>
                    <td>Enter Employee Id</td>
                    <td>
                        <input type="text" name="EmpId" value="" />

                    </td>
                </tr>
                <tr>
                    <td>Enter Employee Name</td>
                    <td>
                        <input type="text" name="EmpName" value="" />
                    </td>
                </tr>
                <tr>
                    <td>Enter Employee Salary</td>
                    <td>
                        <input type="text" name="EmpSalary" value="" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" name="Submit Details"  />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
