@model MVCapp1.Models.Employee

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>show</title>
</head>
<body>
    <div> 
        <h1>Employee Id : @Model.EmpId</h1>
        <h1>Employee Name : @Model.EmpName</h1>
        <h1>Employee Salary: @Model.EmpSalary</h1>
    </div>
</body>
</html>
